<h1>Edit Entry</h1>
<a href="/">Go to Homepage</a><br><br>


{{#post}}
<a href="/view-posts/{{slug}}">Back</a><br>


<h2>Editing "{{slug}}"</h2>

<form method="POST" id="newpost" action="/update/{{slug}}">
Title: <input type="text" name="title" value="{{title}}"> <br>
Location: <input type="text" name="location" value="{{location}}"> <br>
(currently the map on the "view post" page doesn't show the current location but it will be implemented later!!) <br>

Entry: <textarea rows="20" cols="50" name="content" form="newpost">{{content}}</textarea> <br>
<input type="checkbox" name="check" value="public"> Public <br><br>

<input type="submit" value="Edit Entry">
</form>


<br><br>
<a href="/view-posts/{{slug}}">Back</a><br>

{{/post}}


