<h1>View Posts</h1>

<div id="bio">
<b>Bio </b> <br>
Username: <b>{{user.username}}</b> <br><br>
More About Me: <br>
"{{user.bio}}"
</div>

<br><br>

<a href="/edit-profile">Edit Your Bio</a><br><br><br>

<div id="stats"><br>
<b>Statistics </b>
Total Number of Words Written: <b>{{totalWords}}</b> <br>
Total Number of Characters Written: <b>{{totalChars}}</b> <br>
Number of Posts with More Than 10 Words: <b>{{numPostsTenWords}}</b>
</div>


<br><br>



