<div class="message">
<h1>View Posts</h1>
</div>

{{#post}}
<br><br>
<b><a href="/view-posts/{{slug}}">  {{title}}</a></b> {{edited}}<br>
{{/post}}

  {{#user}}
  <b>Author:</b> <a href="/profile/{{username}}">{{username}}</a> <br>
  {{/user}}

  {{#post}}
	<b>Date:</b> {{date}} <br>
	<p>
	"{{content}}"
	<br><br></p>

{{/post}}

   <br>
{{#if canEdit}}
{{#post}}
<a href="/edit/{{slug}}">  Edit this entry</a><br>
{{/post}}
{{/if}}