<h1>View Posts</h1>
<a href="/">Go to Homepage</a><br>
<a href="/personal">Go to Your Posts</a><br>
<a href="/feed">Go to Public Posts</a><br><br><br>


{{#post}}
<b><a href="/view-posts/{{slug}}">  {{title}}</a></b> {{edited}}<br>
{{/post}}

  {{#user}}
  Author: <a href="/profile/{{username}}">{{username}}</a> <br>
  {{/user}}

  {{#post}}
	Date: {{date}} <br>
<div id="map" style="height:300px;width:400px"></div>
 <br>
	<p>
	{{content}}
	<br><br></p>

{{/post}}


{{!-- The following code is based on this tutorial:
https://developers.google.com/maps/documentation/javascript/geolocation --}}


    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>

     <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS0HrvVPJdk3694yzhfBM3g-gfMd3YKfk&callback=initMap">
    </script>

   <br>
{{#if canEdit}}
{{#post}}
<a href="/edit/{{slug}}">  Edit this entry</a><br>
{{/post}}
{{/if}}