<h1>View Posts</h1>
<a href="/">Go to Homepage</a><br>
<a href="/personal">Go to Your Posts</a><br>
<a href="/feed">Go to Public Posts</a><br><br><br>


{{#post}}
<b><a href="/view-posts/{{slug}}">  {{title}}</a></b> {{edited}}<br>
{{/post}}

  {{#user}}
  Author: <a href="/profile/{{username}}">{{username}}</a> <br>
  {{/user}}

  {{#post}}
	Date: {{date}} <br>
	<p>
	{{content}}
	<br><br></p>

{{/post}}

   <br>
{{#if canEdit}}
{{#post}}
<a href="/edit/{{slug}}">  Edit this entry</a><br>
{{/post}}
{{/if}}